---
import Brand from '@components/atoms/Brand.astro'
import NavLinks from './NavLinks.astro'

---

<nav class="bg-slate-950 text-slate-200">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <Brand />
      <NavLinks/>
    </div>
  </div>
</nav>