---
import LayoutDefault from './LayoutDefault.astro';
import LayoutLanding from './LayoutLanding.astro';

export interface Props {
  type: 'landing' | 'default';
  title: string;
  description: string;
}

const { type, title, description } = Astro.props;

// Selecciona el layout correspondiente
const SelectedLayout = type === 'landing' ? LayoutLanding : LayoutDefault;
---
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description} />
</head>
<body class="bg-slate-950">
  <SelectedLayout title={title} description={description}>
  <slot />
</SelectedLayout>
</body>
</html>